<mat-progress-bar *ngIf="connecting" mode="indeterminate"></mat-progress-bar>
<div class="container">
  <button mat-flat-button color="primary" (click)="fileSelect()">
    画像を選択して下さい
  </button>
  <input #file_select type="file" accept="image/png, image/jpeg" (change)="onChangeFile($event.target.files)">

  <div class="rekognition">
    <mat-card *ngIf="img">
      <mat-card-header></mat-card-header>
      <img mat-card-image [src]="img">
    </mat-card>
    <div class="labels">
      <mat-chip-list class="mat-chip-list-stacked">
        <mat-chip *ngFor="let label of labels"
          selected
          [color]="getConfidence(label) > 80 ? 'warn' : 'primary'"
          class="label">
          {{ getName(label) }}<span class="percentage">{{ getConfidence(label) }}%</span>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</div>